doctype html
html(lang="fr")
  head
    meta(charset="UTF-8")
    meta(name="description",content="")
    meta(name="author",content="")
    title #{instance} | #{title}
    link(href='/css/jumbotron-narrow.css', rel='stylesheet')
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/style.css')
  body(data-spy="scroll",data-target=".scrollspy")
    .container
      .header.clearfix
        nav
          ul.nav.nav-pills.pull-right
            if !user
              li(class=(title == 'Search' ? 'active' : ''))
                a(href='/users/') Search
              li(class=(title == 'Register' ? 'active' : ''))
                a(href='/register') Register
              li(class=(title == 'Log in' ? 'active' : ''))
                a(href='/login') Log in
            if user   
              li(class=(title == 'user.username' ? 'active' : ''))
                a(href='/users/'+ user.username) #{user.username}  
              li(class=(title == 'Search' ? 'active' : ''))
                a(href='/users/') Search              
              li(class=(title == 'My settings' ? 'active' : ''))
                a(href='/users/notifications') Notifications
              li(role='logout')
                a(href='/logout').text-muted Log out
              
          h2
            a(href='/') #{instance}
    block content
