extends layout

block content
  .container
    !=messages()
    h2 Log in
    .jumbotron
      form(action="/login", method="POST")
        .form-group
          label Username
          input.form-control(type="text",placeholder="username", name="username")
        .form-group
          label Password
          input.form-control(type="password",placeholder="*****", name="password")
        .form-group
          input(type="submit",placeholder="submit")
