extends layout

block content
  .container
    p.lead
      !=messages()
    h2 Search for members
    form(action="/users", method="POST")
      .form-group
        input.form-control(type="text",placeholder="Find someone@host.org", name="user_searched")
        input(type="submit",placeholder="submit")
    if member
      h2=subtitle
      .jumbotron
        p
          a(href='')=member.username
          span  - member since 
          span=member.created_at
    else 
      h2=subtitle
