extends layout

block content
  .container
    .jumbotron
      p 
        a(href='/users/'+ author)  #{username}
          span @#{host} 
        span wrote : 
        span=content
        p.date=created_at

  
