extends layout

block content
  .container
    .jumbotron
      h2 Register
      form(action="/users/register", method="POST")
        .form-group
          label Username
          input.form-control(type="text",placeholder="username", name="username")
        .form-group
          label Password
          input.form-control(type="password",placeholder="*****", name="password")
        .form-group
          label Confirm password
          input.form-control(type="password",placeholder="*****", name="password2")
        p.errors
          if errors
            each error , i in errors
              div.alert.alert-danger #{error.msg} 
          if error
            div.alert.alert-danger=error 
        .form-group
          input.btn.btn-primary(type="submit",placeholder="submit")
        
